<app-navigation></app-navigation>

<div class="header-image">
    <div class="header py-2 px-5 text-center">
        <p class="text light xxl">THE PAGE YOU LOOKING FOR WAS NOT FOUND</p>
        <p class="text light lg">Please use the button below to navigate back to homepage</p>
        <div class="spacer sm"></div>
        <button class="btn" routerLink="">HOME</button>
    </div>
    <img src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        alt="">
</div>

<div class="header-image-splitter"></div>



<app-footer></app-footer>