<app-navigation></app-navigation>

<div class="header-image">
    <img src="https://images.pexels.com/photos/3183183/pexels-photo-3183183.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        alt="">
</div>

<div class="header-image-splitter"></div>

<div class="container xl section-one pt-4">
    <div class="title">
        <p class="text xl center">About Us</p>
    </div>

    <div class="message">
        <div class="row">
            <div class="col md-IV">
                <p class="text md">
                    We live locally and understand the importance of providing first class customer service to our
                    Investors,
                    landlords and tenants. We own and invest in properties in the Derby and Stoke areas.
                </p>
                <p class="text md">
                    Watch your investment grow – Derby’s £2 billion regeneration includes the Intu shopping centre with
                    150
                    shops/restaurants, new cinema, Music and Performance facility, swimming / sports complex and
                    Velodrome.
                </p>
            </div>
            <div class="col md-II">
                <img src="assets/logo/logo.jpeg" class="responsive-image" alt="">
            </div>
        </div>
        <p class="text md">
            Stoke City £2 billion regeneration includes City centre regeneration: with retail, leisure, commercial and
            residential developments.
        </p>
        <p class="text md">
            Improved road infrastructure projects to enhance the existing links to M1, M42, A52, A38 (Derby) and M6, A50
            (Stoke) major roads are in place with each city close to a major airport.
        </p>
        <p class="text md">
            Derby was recently named as the UK’s third fastest-growing city economy.
        </p>
    </div>
</div>


<app-footer></app-footer>