<div class="container fluid section">
    <div class="title">
        <p class="text xl center">Services for Landlords</p>
    </div>
    <div class="message">
        <p class="text lg bold">HOW DOES IT WORK?</p>
        <div class="row">
            <div class="col md-IV">
                <p class="text md">
                    We act on your behalf as your managing agents. We guarantee you a fixed rental income, find tenants,
                    undertake the necessary checks and references. We will manage the property using our specialists for
                    the term of the tenancy, with regular property inspections to ensure your asset is well maintained.
                </p>
            </div>
            <div class="col md-II">
                <img src="assets/logo/logo.jpeg" class="responsive-image" alt="">
            </div>
        </div>


        <p class="text lg bold">OTHER BENEFITS OFFERED TO LANDLORDS:</p>
        <ul>
            <li>
                <p class="text md">Your monthly rental figure guaranteed</p>
            </li>
            <li>
                <p class="text md">Term to suit, normally 2+ years</p>
            </li>
            <li>
                <p class="text md">Routinely tenanted in 2 to 3 weeks</p>
            </li>
            <li>
                <p class="text md">All utility costs included</p>
            </li>
            <li>
                <p class="text md">All routine maintenance included</p>
            </li>
            <li>
                <p class="text md">Property maintained to industry quality standards</p>
            </li>
        </ul>
    </div>
</div>