<div class="container fluid section">
    <div class="title">
        <p class="text xl center">Sourcing</p>
    </div>
    <div class="message">
        <div class="row">
            <div class="col md-IV">
                <p class="text md">
                    We strive to find the right investment property by thorough research to provide you with the
                    opportunity to achieve your goals.
                </p>
                <p class="text md">
                    The key to successful Property investment is time, experience and education to ensure your
                    investment is safe, secure and delivering great cash-flow. With our experience we look to source
                    houses at a good discount. Your bonus being the potential increasing value of the asset over time,
                    thereby allowing you to repeat the purchase cycle over and over.
                </p>
            </div>
            <div class="col md-II">
                <img src="assets/logo/logo.jpeg" class="responsive-image" alt="">
            </div>
        </div>

        <p class="text md">
            Once we find a property suitable for you to invest in we can arrange renovation if you wish using our local
            teams and on completion secure tenants for your property. Your input is your choice, from ‘hands off’, to us
            helping you understand the process so you could undertake a similar project in due course..
        </p>
        <p class="text md">
            Our tailored approach aims to build long term relations by providing quality properties to deliver a great
            return. You are welcome to use our power team in part or completely or should you have your own professional
            team we will be happy to work with them to deliver a quality cash-flowing project.
        </p>
    </div>
</div>