<div class="container fluid section">
    <div class="title">
        <p class="text xl center">Services for Investors</p>
    </div>
    <div class="message">
        <p class="text lg bold">How can we help you?</p>
        <div class="row">
            <div class="col md-IV">
                <p class="text md">
                    We understand every investor has different goals and ambitions. Our tailored investor packages are
                    designed with you to build a portfolio providing income and security at low risk with excellent
                    returns. Using our knowledge and expertise, we can help you develop a strategy that will enable you
                    to reach your goals.
                </p>
                <p class="text md">
                    Our team can help with any aspect of property investment, from sourcing your property, through to
                    project managing the refurbishment and tenanting.
                </p>
            </div>
            <div class="col md-II">
                <img src="assets/logo/logo.jpeg" class="responsive-image" alt="">
            </div>
        </div>

        <p class="text md">
            Derby with significant ongoing regeneration, is home to many multi national corporations – Rolls-Royce,
            Toyota, Bombardier and a large rail tech cluster. Derby’s location at the heart of the road and rail
            networks provides excellent links to East Midland’s Airport, M1, A50, A38 and M42.
        </p>
        <p class="text md">
            Stoke with significant regeneration is also home to multi national corporations – Michelin, Bet 365, close
            to Bentley, Rolls Royce, Toyota, Jaguar Land Rover. Regionally are JCB, ABB and Jaguar Land Rover.
        </p>
    </div>
</div>