<app-navigation></app-navigation>

<div class="header-image">
    <img src="https://images.pexels.com/photos/3183183/pexels-photo-3183183.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        alt="">
</div>

<div class="header-image-splitter"></div>

<div class="container xl section-one pt-4">
    <div class="title">
        <p class="text xl center">Contact Us</p>
    </div>

    <div class="row">
        <div class="col md-III px-5">
            <div class="form-group lg form-rounded">
                <div class="form-item">
                    <label>Your name</label>
                    <input type="text">
                </div>
                <div class="form-item">
                    <label>Email address</label>
                    <input type="email">
                </div>
                <div class="form-item">
                    <label>Your message</label>
                    <textarea rows="10"></textarea>
                </div>
                <div class="form-item">
                    <button class="btn lg outline">Submit</button>
                </div>
            </div>
        </div>
        <div class="col md-III p-5">
            <div class="contact">
                <p class="text lg">
                    <a href="mailto:office@rodacproperties.co.uk">office@rodacproperties.co.uk</a>
                </p>
                <p class="text lg">
                    <a href="tel:+447378403404">+447378403404</a>
                </p>
            </div>
            <div class="hr dotted lg secondary"></div>
            <div class="social">
                <div class="row gap-20 justify-content-center">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/icons/fb.png" alt="">
                    </a>
                    <a href="https://uk.linkedin.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/icons/linkedin.png" alt=""></a>
                    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/icons/youtube.png" alt=""></a>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/icons/instagram.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>