<div class="container fluid section">
    <div class="title">
        <p class="text xl center">Services for Tenants</p>
    </div>
    <div class="message">
        <p class="text lg bold">How can we help you?</p>
        <div class="row">
            <div class="col md-IV">
                <p class="text md">
                    All of our properties are professionally designed as family homes, HMO’s or Guaranteed Rent
                    properties. The latter two come with utility bills paid by us, super fast broadband, excellent
                    tenant vetting and a comprehensive cleaning service to ensure your ‘home’ meets your expectation.
                </p>
                <p class="text md">
                    We have all heard horror stories about landlords who don’t resolve problems, letting agents who
                    promise the earth but don’t deliver.
                </p>
            </div>
            <div class="col md-II">
                <img src="assets/logo/logo.jpeg" class="responsive-image" alt="">
            </div>
        </div>

        <p class="text md">
            We take your safety and comfort very seriously, we offer super homes, for you our customer.
        </p>
    </div>
</div>