<app-navigation></app-navigation>

<div class="header-image">
    <div class="header py-2 px-5 text-center">
        <p class="text light xxl">RODAC PROPERTIES 4 YOUR FUTURE!</p>
        <p class="text light lg">Our Present is Taking Care of Your Future</p>
        <div class="spacer sm"></div>
        <button class="btn">MORE INFO</button>
    </div>
    <img src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        alt="">
</div>

<div class="header-image-splitter"></div>

<div class="services">
    <div class="container fluid section-one">
        <div class="container lg py-5">
            <p class="text xl light center">
                We take great pride in providing a professional and bespoke property package to suit your specific needs
            </p>
        </div>
    </div>
    <div class="container xl py-5 section-two">
        <div class="row justify-content-center gap-40" id="row">
            <img src="assets/images/INVESTMENT.png" alt="INVESTMENT">
            <img src="assets/images/LANDLORD.png" alt="LANDLORD">
            <img src="assets/images/SOURCING.png" alt="SOURCING">
            <img src="assets/images/TENANT.png" alt="TENANT">
        </div>
    </div>
    <div class="container xl py-5 section-three">
        <div class="title">
            <div class="separator"></div>
            <span class="text md center bold">SERVICES WE OFFER</span>
            <div class="separator"></div>
        </div>

        <div class="spacer sm"></div>

        <div class="messages">
            <div class="row">
                <div class="col md-III">
                    <div class="item">
                        <div class="message-title">
                            INVESTMENT
                        </div>
                        <div class="message">
                            We work with investors to provide simple and effective property solutions. If your goal is
                            to achieve financial freedom with a passive income and to create your own legacy we are here
                            to help you. We offer a safe investment giving a great return of interest on a loan or
                            offering a joint venture to maximise profits from our property projects.
                        </div>
                    </div>
                </div>
                <div class="col md-III">
                    <div class="item">
                        <div class="message-title">
                            SOURCING
                        </div>
                        <div class="message">
                            The key to successful property investment is time, experience and education to ensure your
                            investment is safe, secure and delivering great cashflow and returns. With our experience we
                            source property at a good discount, your extra bonus is the potential for increasing
                            property
                            value over time allowing you to repeat the purchase cycle.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col md-III">
                    <div class="item">
                        <div class="message-title">
                            LANDLORD’S
                        </div>
                        <div class="message">
                            Try our Guaranteed Rental service. Your problems solved, hands off, wear and tear taken care
                            of, voids no longer an issue, tenants managed by our experienced specialists. Contact us
                            today and see how we make a difference, we promise you won’t be disappointed.
                        </div>
                    </div>
                </div>
                <div class="col md-III">
                    <div class="item">
                        <div class="message-title">
                            TENANT’S
                        </div>
                        <div class="message">
                            We meet or exceed all current regulations. You may be staying in our house but we consider
                            whilst you are there it is ‘your home’. We take your safety and comfort very seriously and
                            offer you, our customer a quality home.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="faq">

    <div class="container xl">

        <div class="header">
            <div class="separator"></div>
            <span class="text md center bold">FREQUENTLY ASKED QUESTIONS</span>
            <div class="separator"></div>
        </div>

        <div class="spacer md"></div>

        <div class="rubric">
            <div class="title">
                <p class="text md bold">WHY INVEST IN PROPERTY?</p>
            </div>
            <div class="message">
                <p class="text md">
                    Today is the best time to invest in property. Over the last half century UK property prices (on
                    average
                    – UK House Price Index) have doubled every 9 to 10 years. This growth provides a fantastic
                    opportunity
                    for you to invest in property, achieve excellent cash-flow, with a potential bonus of capital growth
                    whilst allowing you the time to achieve your personal goals.
                </p>
            </div>
        </div>

        <div class="rubric">
            <div class="title">
                <p class="text md bold">WHAT WILL PROPERTY INVESTMENT OFFER ME?</p>
            </div>
            <div class="message">
                <p class="text md">
                    A great Return on your Investment (ROI), significantly better than your bank interest rate on your
                    savings. Opportunity to secure your future today and create a bright future for the next
                    generations. A
                    ‘hands-free’ investment, where you can get involved as much or as little as you wish. An opportunity
                    for
                    financial freedom so you could
                </p>
                <ol class="text md">
                    <li>leave your job or</li>
                    <li>supplement your income</li>
                </ol>
            </div>
        </div>

        <div class="rubric">
            <div class="title">
                <p class="text md bold">DO YOU WANT TO JOIN US TO ACHIEVE YOUR PROPERTY GOALS?</p>
            </div>
            <div class="message">
                <p class="text md">Rodac Properties Ltd work with investors to provide tailored property services.
                </p>
            </div>
        </div>
    </div>

</div>


<app-footer></app-footer>